body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "黑体", "Hiragino Sans GB" !important;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
input,
button,
table,
tr,
th,
td,
thead,
tbody,
pre {
  padding: 0;
  margin: 0;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
blockquote,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
em,
cite,
i {
  font-style: normal;
}
img {
  border: none;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.noborder {
  border: 0 none !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
@-webkit-keyframes bgframe {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -30px;
  }
}
@-webkit-keyframes shinetwice {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.mc_container {
  margin: 0 auto;
  background: url(../images/background.jpg);
  width: 640px;
  height: 100%;
  -webkit-animation: bgframe 5s ease-in-out infinite alternate;
}
.mc_container header.page {
  height: 134px;
  background: url(../images/title.png);
}
.mc_container section.load {
  position: relative;
  display: none;
}
.mc_container section.load .loadbar {
  position: absolute;
  left: 460px;
  top: 390px;
}
.mc_container section.load .loadbar span {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  width: 140px;
}
.mc_container section.scene_1 {
  width: 640px;
  height: 698px;
  position: relative;
  overflow: hidden;
}
.mc_container section.scene_1 .tablet_top {
  width: 510px;
  height: 160px;
  background: url(../images/tablet_top.png);
  background-size: 100% 100%;
  position: absolute;
  left: 116px;
  top: 135px;
  -webkit-transition: all 2s;
}
.mc_container section.scene_1 .tablet_top.end {
  left: 66px;
  top: 275px;
  -webkit-transform: scale3d(1.2, 1.2, 1) translate3d();
}
.mc_container section.scene_1 .tablet_top.glur {
  -webkit-transform: scale3d(5, 5, 1);
  top: 430px;
}
.mc_container section.scene_1 .tablet_top .screen {
  width: 510px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/tablet_top_screen.png);
}
.mc_container section.scene_1 .tablet_top .screen.shine {
  -webkit-animation: shinetwice 1.5s;
}
.mc_container section.scene_1 .tablet_top .chips {
  width: 510px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/chips.png) center center no-repeat;
  -webkit-transform: scale3d(0.2, 0.2, 1);
}
.mc_container section.scene_1 .tablet_bottom {
  width: 510px;
  height: 160px;
  background: url(../images/tablet_bottom.png);
  position: absolute;
  left: 11px;
  top: 258px;
  -webkit-transition: all 2s;
}
.mc_container section.scene_1 .tablet_bottom.end {
  -webkit-transform: translate3d(-511px, 607px, 0);
}
.loadbar {
  position: relative;
  width: 100px;
  height: 16px;
}
.loadbar i {
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-animation-name: bounce_squaresWaveG;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  float: left;
}
.loadbar i:nth-child(1) {
  -webkit-animation-delay: 0.48s;
}
.loadbar i:nth-child(2) {
  -webkit-animation-delay: .6s;
}
.loadbar i:nth-child(3) {
  -webkit-animation-delay: .72s;
}
.loadbar i:nth-child(4) {
  -webkit-animation-delay: .84s;
}
.loadbar i:nth-child(5) {
  -webkit-animation-delay: .96s;
}
@-webkit-keyframes bounce_squaresWaveG {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
