@import "reset.less";
@-webkit-keyframes bgframe {
  from{
    background-position:center 0;
  }
  to{
    background-position:center -30px;
  }
}
@-webkit-keyframes shinetwice {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.mc_container{
  margin: 0 auto;
  background: url(../images/background.jpg);
  width: 640px;
  height: 100%;
  -webkit-animation: bgframe 5s ease-in-out infinite alternate;
  header.page{
    height:134px;
    background: url(../images/title.png);
  }
  section.load{
    .rel;
    .loadbar{
      .abs;
      .pos(460px, 390px);
      span{
        color:#fff;
        .abs;
        top:20px;
        left:0;
        width:140px;
      }
    }
    .hidden;
  }
  section.scene_1{
    .rect(640px, 698px);
    .rel;
    overflow: hidden;
    .tablet_top{
      .rect(510px, 160px);
      background: url(../images/tablet_top.png);
      background-size: 100% 100%;
      .abs;
      .pos(116px, 135px);
      -webkit-transition: all 2s;
      &.end{
        .pos(66px, 275px);
        -webkit-transform: scale3d(1.2,1.2,1) translate3d();
      }
      &.glur{
        -webkit-transform: scale3d(5, 5, 1);
        top: 430px;
      }
      .screen{
        .rect(510px, 160px);
        .abs;
        .pos(0, 0);
        background: url(../images/tablet_top_screen.png);
        &.shine{
          -webkit-animation: shinetwice 1.5s;
        }
      }
      .chips{
        .rect(510px, 160px);
        .abs;
        .pos(0, 0);
        background: url(../images/chips.png) center center no-repeat;
        -webkit-transform: scale3d(.2, .2, 1);
      }
    }
    .tablet_bottom{
      .rect(510px, 160px);
      background: url(../images/tablet_bottom.png);
      .abs;
      .pos(11px, 258px);
      -webkit-transition: all 2s;
      &.end{
        //.pos(-500px, 865px);
        -webkit-transform: translate3d(-511px, 607px, 0);
      }
    }
  }
}
.loadbar{
  position:relative;
  width:100px;
  height:16px;
  i{
    .rect(12px);
    .block;
    .mr(1px);
    background-color:rgba(255, 255, 255, 0.1);
    -webkit-animation-name:bounce_squaresWaveG;
    -webkit-animation-duration:1.2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    .pull-left;
    &:nth-child(1){
      -webkit-animation-delay:0.48s
    }
    &:nth-child(2){
      -webkit-animation-delay:.6s;
    }
    &:nth-child(3){
      -webkit-animation-delay:.72s;
    }
    &:nth-child(4){
      -webkit-animation-delay:.84s;
    }
    &:nth-child(5){
      -webkit-animation-delay:.96s;
    }
  }
}

@-webkit-keyframes bounce_squaresWaveG{
  0%{
    background-color:rgba(255, 255, 255, 0.1);
  }

  50%{
    background-color:rgba(255, 255, 255, 0.9);
  }

  100%{
    background-color:rgba(255, 255, 255, 0.1);
  }
}


