body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "黑体", "Hiragino Sans GB" !important;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
input,
button,
table,
tr,
th,
td,
thead,
tbody,
pre {
  padding: 0;
  margin: 0;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
blockquote,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
em,
cite,
i {
  font-style: normal;
}
img {
  border: none;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.noborder {
  border: 0 none !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
@-webkit-keyframes bgframe {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -30px;
  }
}
@-webkit-keyframes shinetwice {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.mc_container {
  margin: 0 auto;
  background: url(../images/background.jpg);
  width: 640px;
  height: 100%;
  -webkit-animation: bgframe 3s linear infinite alternate;
  overflow: hidden;
}
.mc_container header.page {
  height: 134px;
  background: url(../images/title.png);
}
.mc_container section.load {
  position: relative;
}
.mc_container section.load .loadbar {
  position: absolute;
  left: 460px;
  top: 390px;
}
.mc_container section.load .loadbar span {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  width: 140px;
}
.mc_container section.scene_1 {
  width: 640px;
  height: 698px;
  position: relative;
  display: none;
  /*
    .chips_big{
      background: url(../images/chips_big.png);
      .rect(593px, 150px);
      .abs;
      .pos(22px, 507px);
      .chips_1{
        .rect(282px, 77px);
        .abs;
        .pos(225px, 34px);
        background: url(../images/chips_1.png);
        &.up{
          .pos(225px, -86px);
          >.light{
            .block;
          }
        }
        >.light{
          .rect(282px, 189px);
          background:url(../images/chips_1_light.png);
          .hidden;
        }
        >.shadow{
          .rect(124px, 37px);
          .abs;
          .pos(120px, 9px);
          background: url(../images/chips_2_shadow.png);
        }
        .chips_2{
          .rect(124px, 57px);
          .abs;
          .pos(120px, 0px);
          background: url(../images/chips_2.png);
          &.up{
            .pos(120px, -64px);
            >.light{
              .block;
            }
          }
           >.light{
            .rect(124px, 109px);
            background:url(../images/chips_2_light.png);
            .hidden;
          }
        }
      }
    }
    */

}
.mc_container section.scene_1 .chips {
  width: 287px;
  height: 70px;
  position: absolute;
  left: 192px;
  top: 310px;
  background: url(../images/chips.png) center center no-repeat;
  background-size: 100% 100%;
  -webkit-transform: scale3d(0.29, 0.29, 1);
  display: none;
}
.mc_container section.scene_1 .chips.step1 {
  -webkit-transform: scale3d(1, 1, 1) translate3d(-10px, 170px, 0);
}
.mc_container section.scene_1 .chips.step2 {
  -webkit-transform: scale(2.1, 2.1) translate3d(-9px, 113px, 0px);
}
.mc_container section.scene_1 .chips_big_box {
  width: 593px;
  height: 150px;
  position: absolute;
  left: 22px;
  top: 507px;
  display: none;
}
.mc_container section.scene_1 .chips_big_box .chips_big {
  background: url(../images/chips_big.png);
  width: 593px;
  height: 150px;
}
.mc_container section.scene_1 .chips_big_box .chips_big.split {
  background: url(../images/chips_big_1.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box {
  width: 282px;
  height: 77px;
  position: absolute;
  left: 225px;
  top: 34px;
  display: none;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box.up {
  -webkit-transform: translate3d(0, -86px, 0);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box.up .chips_1 > .light {
  display: block;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_1 {
  width: 282px;
  height: 77px;
  background: url(../images/chips_1.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_1 > .light {
  width: 282px;
  height: 0px;
  background: url(../images/chips_1_light.png) top center;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box {
  width: 124px;
  height: 57px;
  position: absolute;
  left: 120px;
  top: 0px;
  display: none;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box .chips_2 {
  width: 124px;
  height: 57px;
  background: url(../images/chips_2.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box .chips_2 > .light {
  width: 124px;
  height: 0px;
  background: url(../images/chips_2_light.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box > .shadow {
  width: 124px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 9px;
  background: url(../images/chips_2_shadow.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box.up .chips_2 {
  -webkit-transform: translate3d(0, -64px, 0);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box.up .chips_2 > .light {
  display: block;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_2_box.up > .shadow {
  display: block;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box {
  width: 165px;
  height: 71px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_3 {
  width: 165px;
  height: 71px;
  background: url(../images/chips_3.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_3 > .light {
  width: 165px;
  height: 0;
  background: url(../images/chips_3_light.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box > .shadow {
  position: absolute;
  width: 165px;
  height: 55px;
  left: 2px;
  top: 10px;
  background: url(../images/chips_3_shadow.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box.up .chips_4_box {
  -webkit-transform: translate3d(0, -113px, 0);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box.up .chips_4_box .chips_3 > .light {
  display: block;
  height: 178px;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box.up > .shadow {
  display: block;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_4_box {
  width: 165px;
  height: 71px;
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_4_box .chips_4 {
  width: 112px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 28px;
  background: url(../images/chips_4.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_4_box .chips_4 > .light {
  width: 112px;
  height: 0;
  background: url(../images/chips_4_light.png);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_4_box.up .chips_4 {
  -webkit-transform: translate3d(0, -81px, 0);
}
.mc_container section.scene_1 .chips_big_box .chips_1_box .chips_3_box .chips_4_box.up .chips_4 > .light {
  display: block;
  height: 131px;
}
.mc_container section.scene_1 .feature p {
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
}
.mc_container section.scene_1 .feature p:nth-child(2) {
  -webkit-transition-delay: .2s;
}
.mc_container section.scene_1 .feature p:nth-child(3) {
  -webkit-transition-delay: .4s;
}
.mc_container section.scene_1 .feature_1 {
  width: 640px;
  height: 486px;
  overflow: hidden;
  position: relative;
  display: none;
}
.mc_container section.scene_1 .feature_1 .f1 {
  width: 160px;
  height: 164px;
  left: 66px;
  top: 486px;
  background: url(../images/f_1_1.png);
}
.mc_container section.scene_1 .feature_1 .f1.end {
  -webkit-transform: translate3d(0, -242px, 0);
}
.mc_container section.scene_1 .feature_1 .f2 {
  width: 0px;
  height: 78px;
  left: 66px;
  top: 408px;
  background: url(../images/f_1_2.png);
}
.mc_container section.scene_1 .feature_1 .f2.end {
  width: 283px;
  height: 78px;
}
.mc_container section.scene_1 .feature_1 .f3 {
  width: 184px;
  height: 110px;
  left: 373px;
  top: 486px;
  background: url(../images/f_1_3.png);
}
.mc_container section.scene_1 .feature_1 .f3.end {
  -webkit-transform: translate3d(0, -110px, 0);
}
.mc_container section.scene_1 .feature_2 {
  width: 640px;
  height: 398px;
  overflow: hidden;
  position: relative;
  display: none;
}
.mc_container section.scene_1 .feature_2 .f1 {
  width: 350px;
  height: 168px;
  left: 66px;
  top: 398px;
  background: url(../images/f_2_1.png);
}
.mc_container section.scene_1 .feature_2 .f1.end {
  -webkit-transform: translate3d(0, -272px, 0);
}
.mc_container section.scene_1 .feature_2 .f2 {
  width: 0px;
  height: 104px;
  left: 66px;
  top: 294px;
  background: url(../images/f_2_2.png);
}
.mc_container section.scene_1 .feature_2 .f2.end {
  width: 378px;
  height: 104px;
}
.mc_container section.scene_1 .feature_2 .f3 {
  width: 121px;
  height: 190px;
  left: 449px;
  top: 398px;
  background: url(../images/f_2_3.png);
}
.mc_container section.scene_1 .feature_2 .f3.end {
  -webkit-transform: translate3d(0, -190px, 0);
}
.mc_container section.scene_1 .feature_3 {
  width: 640px;
  height: 336px;
  overflow: hidden;
  position: relative;
  display: none;
}
.mc_container section.scene_1 .feature_3 .f1 {
  width: 264px;
  height: 154px;
  left: 66px;
  top: 336px;
  background: url(../images/f_3_1.png);
}
.mc_container section.scene_1 .feature_3 .f1.end {
  -webkit-transform: translate3d(0, -274px, 0);
}
.mc_container section.scene_1 .feature_3 .f2 {
  width: 0px;
  height: 103px;
  left: 66px;
  top: 234px;
  background: url(../images/f_3_2.png);
}
.mc_container section.scene_1 .feature_3 .f2.end {
  width: 351px;
  height: 103px;
}
.mc_container section.scene_1 .feature_3 .f3 {
  width: 98px;
  height: 126px;
  left: 445px;
  top: 336px;
  background: url(../images/f_3_3.png);
}
.mc_container section.scene_1 .feature_3 .f3.end {
  -webkit-transform: translate3d(0, -126px, 0);
}
.mc_container section.scene_1 .feature_4 {
  width: 640px;
  height: 284px;
  overflow: hidden;
  position: relative;
  display: none;
}
.mc_container section.scene_1 .feature_4 .f1 {
  width: 260px;
  height: 172px;
  left: 66px;
  top: 284px;
  background: url(../images/f_4_1.png);
}
.mc_container section.scene_1 .feature_4 .f1.end {
  -webkit-transform: translate3d(0, -274px, 0);
}
.mc_container section.scene_1 .feature_4 .f2 {
  width: 0px;
  height: 102px;
  left: 66px;
  top: 183px;
  background: url(../images/f_4_2.png);
}
.mc_container section.scene_1 .feature_4 .f2.end {
  width: 371px;
  height: 102px;
}
.mc_container section.scene_1 .feature_4 .f3 {
  width: 147px;
  height: 134px;
  left: 437px;
  top: 284px;
  background: url(../images/f_4_3.png);
}
.mc_container section.scene_1 .feature_4 .f3.end {
  -webkit-transform: translate3d(0, -134px, 0);
}
.mc_container section.scene_1 .feature_5 {
  width: 640px;
  height: 279px;
  top: -46px;
  overflow: hidden;
  position: relative;
  display: none;
}
.mc_container section.scene_1 .feature_5 .f1 {
  width: 300px;
  height: 176px;
  left: 66px;
  top: 279px;
  background: url(../images/f_5_1.png);
}
.mc_container section.scene_1 .feature_5 .f1.end {
  -webkit-transform: translate3d(0, -274px, 0);
}
.mc_container section.scene_1 .feature_5 .f2 {
  width: 0px;
  height: 102px;
  left: 66px;
  top: 177px;
  background: url(../images/f_5_2.png);
}
.mc_container section.scene_1 .feature_5 .f2.end {
  width: 382px;
  height: 102px;
}
.mc_container section.scene_1 .feature_5 .f3 {
  width: 136px;
  height: 150px;
  left: 448px;
  top: 279px;
  background: url(../images/f_5_3.png);
}
.mc_container section.scene_1 .feature_5 .f3.end {
  -webkit-transform: translate3d(0, -150px, 0);
}
.mc_container section.scene_1 .tablet_top {
  width: 510px;
  height: 160px;
  background: url(../images/tablet_top.png);
  background-size: 100% 100%;
  position: absolute;
  left: 116px;
  top: 135px;
}
.mc_container section.scene_1 .tablet_top.end {
  -webkit-transform: scale3d(1.2, 1.2, 1) translate3d(-45px, 116px, 0);
}
.mc_container section.scene_1 .tablet_top.glur {
  -webkit-transform: scale3d(4, 4, 1) translate3d(0, 92px, 0);
  opacity: 0;
  background: url(../images/glur.png);
  background-size: 100% 100%;
}
.mc_container section.scene_1 .tablet_top.glur .screen {
  display: none;
}
.mc_container section.scene_1 .tablet_top .screen {
  width: 510px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/tablet_top_screen.png);
}
.mc_container section.scene_1 .tablet_top .screen.shine {
  -webkit-animation: shinetwice 1.5s;
}
.mc_container section.scene_1 .tablet_bottom {
  width: 510px;
  height: 160px;
  background: url(../images/tablet_bottom.png);
  position: absolute;
  left: 11px;
  top: 258px;
  -webkit-transition: all 2s;
}
.mc_container section.scene_1 .tablet_bottom.end {
  -webkit-transform: translate3d(-511px, 607px, 0);
}
.loadbar {
  position: relative;
  width: 100px;
  height: 16px;
}
.loadbar i {
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-animation-name: bounce_squaresWaveG;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  float: left;
}
.loadbar i:nth-child(1) {
  -webkit-animation-delay: 0.48s;
}
.loadbar i:nth-child(2) {
  -webkit-animation-delay: .6s;
}
.loadbar i:nth-child(3) {
  -webkit-animation-delay: .72s;
}
.loadbar i:nth-child(4) {
  -webkit-animation-delay: .84s;
}
.loadbar i:nth-child(5) {
  -webkit-animation-delay: .96s;
}
@-webkit-keyframes bounce_squaresWaveG {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
