@import "reset.less";
@-webkit-keyframes bgframe {
  from{
    background-position:center 0;
  }
  to{
    background-position:center -30px;
  }
}
@-webkit-keyframes shinetwice {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.mc_container{
  margin: 0 auto;
  background: url(../images/background.jpg);
  width: 640px;
  height: 100%;
  -webkit-animation: bgframe 5s ease-in-out infinite alternate;
  overflow: hidden;
  header.page{
    height:134px;
    background: url(../images/title.png);
  }
  section.load{
    .rel;
    .loadbar{
      .abs;
      .pos(460px, 390px);
      span{
        color:#fff;
        .abs;
        top:20px;
        left:0;
        width:140px;
      }
    }
    //.hidden;
  }
  section.scene_1{
    .rect(640px, 698px);
    .rel;
    .hidden;
    //background: url(../images/bg_7.png);
    .chips{
      .rect(287px, 70px);
      .abs;
      .pos(192px, 310px);
      background: url(../images/chips.png) center center no-repeat;
      background-size: 100% 100%;
      -webkit-transform: scale3d(.29, .29, 1);
      .hidden;
      &.step1{
        -webkit-transform: scale3d(1, 1, 1) translate3d(-10px, 170px, 0);
      }
      &.step2{
        -webkit-transform: scale(2.1, 2.1) translate3d(-9px, 113px, 0px);
      }
    }
    .chips_big_box{
      .rect(593px, 150px);
      .abs;
      .pos(22px, 507px);
      .hidden;
      .chips_big{
        background: url(../images/chips_big.png);
        .rect(593px, 150px);
        &.split{
          background: url(../images/chips_big_1.png);
        }
      }
      .chips_1_box{
        .rect(282px, 77px);
        .abs;
        .pos(225px, 34px);
        .hidden;
        &.up{
          -webkit-transform: translate3d(0, -86px, 0);
          .chips_1>.light{
            .block;
          }
        }
        .chips_1{
          .rect(282px, 77px);
          background: url(../images/chips_1.png);
          >.light{
            //.rect(282px, 189px);
            .rect(282px, 0px);
            background:url(../images/chips_1_light.png) top center;
            //.hidden;
          }

        }
        .chips_2_box{
          .rect(124px, 57px);
          .abs;
          .pos(120px, 0px);
          .hidden;
          .chips_2{
            .rect(124px, 57px);
            background: url(../images/chips_2.png);
            >.light{
              //.rect(124px, 109px);
              .rect(124px, 0px);
              background:url(../images/chips_2_light.png);
            }
          }
          >.shadow{
            .rect(124px, 37px);
            .abs;
            .pos(0px, 9px);
            background: url(../images/chips_2_shadow.png);
          }
          &.up{
            .chips_2{
              //.pos(120px, -64px);
              -webkit-transform: translate3d(0, -64px, 0);
            }
            .chips_2>.light{
              .block;
            }
            >.shadow{
              .block;
            }
          }
          
        }
        .chips_3_box{
          .rect(165px, 71px);
          .abs;
          .pos(0, 0);
          .hidden;
          .chips_3{
            .rect(165px, 71px);
            background: url(../images/chips_3.png);
            >.light{
              .rect(165px, 0);
              background: url(../images/chips_3_light.png);
            }
          }
          >.shadow{
            .abs;
            .rect(165px, 55px);
            .pos(2px, 10px);
            background: url(../images/chips_3_shadow.png);
          }

          &.up{
            .chips_4_box{
              -webkit-transform: translate3d(0, -113px, 0);
              .chips_3>.light{
                .block;
                height: 178px;
              }
            }
            >.shadow{
              .block;
            }
          }
          .chips_4_box{
            .rect(165px, 71px);
            .chips_4{
              .rect(112px, 45px);
              .abs;
              .pos(0, 28px);
              background: url(../images/chips_4.png);
              >.light{
                .rect(112px, 0);
                background: url(../images/chips_4_light.png);
              }
            }
            &.up{
              .chips_4{
                -webkit-transform: translate3d(0, -81px, 0);
                >.light{
                  .block;
                  height:131px;
                }
              }
            }
          }
        }
      }
    }
    /*
    .chips_big{
      background: url(../images/chips_big.png);
      .rect(593px, 150px);
      .abs;
      .pos(22px, 507px);
      .chips_1{
        .rect(282px, 77px);
        .abs;
        .pos(225px, 34px);
        background: url(../images/chips_1.png);
        &.up{
          .pos(225px, -86px);
          >.light{
            .block;
          }
        }
        >.light{
          .rect(282px, 189px);
          background:url(../images/chips_1_light.png);
          .hidden;
        }
        >.shadow{
          .rect(124px, 37px);
          .abs;
          .pos(120px, 9px);
          background: url(../images/chips_2_shadow.png);
        }
        .chips_2{
          .rect(124px, 57px);
          .abs;
          .pos(120px, 0px);
          background: url(../images/chips_2.png);
          &.up{
            .pos(120px, -64px);
            >.light{
              .block;
            }
          }
           >.light{
            .rect(124px, 109px);
            background:url(../images/chips_2_light.png);
            .hidden;
          }
        }
      }
    }
    */
    .feature{
      p{
       .abs;
        -webkit-transition: all .4s ease-in-out;
        &:nth-child(2){
          -webkit-transition-delay:.2s;
        }
        &:nth-child(3){
          -webkit-transition-delay:.4s;
        } 
      }
    }
    .feature_1{
      .rect(640px, 486px);
      overflow: hidden;
      .rel;
      .hidden;
      .f1{
        .rect(160px, 164px);
        .pos(66px, 486px);
        background: url(../images/f_1_1.png);
        &.end{
          -webkit-transform: translate3d(0, -242px, 0);
        }
      }
      .f2{
        .rect(0px, 78px);
        .pos(66px, 408px);
        background: url(../images/f_1_2.png);
        //-webkit-transform: scale3d(0, 1, 1);
        &.end{
          //-webkit-transform: scale3d(1, 1, 1);
          //-webkit-transform: translate3d(0, -78px, 0);
          .rect(283px, 78px);
        }
      }
      .f3{
        .rect(184px, 110px);
        .pos(373px, 486px);
        background: url(../images/f_1_3.png);
        &.end{
          -webkit-transform: translate3d(0, -110px, 0);
        }
      }
    }
    .feature_2{
      .rect(640px, 398px);
      overflow: hidden;
      .rel;
      .hidden;
      .f1{
        .rect(350px, 168px);
        .pos(66px, 398px);
        background: url(../images/f_2_1.png);
        &.end{
          -webkit-transform: translate3d(0, -272px, 0);
        }
      }
     .f2{
        .rect(0px, 104px);
        .pos(66px, 294px);
        background: url(../images/f_2_2.png);
        //-webkit-transform: scale3d(0, 1, 1);
        &.end{
          //-webkit-transform: scale3d(1, 1, 1);
          //-webkit-transform: translate3d(0, -78px, 0);
          .rect(378px, 104px);
        }
      }
      .f3{
        .rect(121px, 190px);
        .pos(449px, 398px);
        background: url(../images/f_2_3.png);
        &.end{
          -webkit-transform: translate3d(0, -190px, 0);
        }
      }
    }
    .feature_3{
      .rect(640px, 336px);
      overflow: hidden;
      .rel;
      .hidden;
      .f1{
        .rect(264px, 154px);
        .pos(66px, 336px);
        background: url(../images/f_3_1.png);
        &.end{
          -webkit-transform: translate3d(0, -274px, 0);
        }
      }
     .f2{
        .rect(0px, 103px);
        .pos(66px, 234px);
        background: url(../images/f_3_2.png);
        //-webkit-transform: scale3d(0, 1, 1);
        &.end{
          //-webkit-transform: scale3d(1, 1, 1);
          //-webkit-transform: translate3d(0, -78px, 0);
          .rect(351px, 103px);
        }
      }
      .f3{
        .rect(98px, 126px);
        .pos(445px, 336px);
        background: url(../images/f_3_3.png);
        &.end{
          -webkit-transform: translate3d(0, -126px, 0);
        }
      }
    }
    .feature_4{
      .rect(640px, 284px);
      overflow: hidden;
      .rel;
      .hidden;
      .f1{
        .rect(260px, 172px);
        .pos(66px, 284px);
        background: url(../images/f_4_1.png);
        &.end{
          -webkit-transform: translate3d(0, -274px, 0);
        }
      }
     .f2{
        .rect(0px, 102px);
        .pos(66px, 183px);
        background: url(../images/f_4_2.png);
        //-webkit-transform: scale3d(0, 1, 1);
        &.end{
          //-webkit-transform: scale3d(1, 1, 1);
          //-webkit-transform: translate3d(0, -78px, 0);
          .rect(371px, 102px);
        }
      }
      .f3{
        .rect(147px, 134px);
        .pos(437px, 284px);
        background: url(../images/f_4_3.png);
        &.end{
          -webkit-transform: translate3d(0, -134px, 0);
        }
      }
    }
    .feature_5{
      .rect(640px, 279px);
      top:-46px;
      overflow: hidden;
      .rel;
      .hidden;
      .f1{
        .rect(300px, 176px);
        .pos(66px, 279px);
        background: url(../images/f_5_1.png);
        &.end{
          -webkit-transform: translate3d(0, -274px, 0);
        }
      }
     .f2{
        .rect(0px, 102px);
        .pos(66px, 177px);
        background: url(../images/f_5_2.png);
        //-webkit-transform: scale3d(0, 1, 1);
        &.end{
          //-webkit-transform: scale3d(1, 1, 1);
          //-webkit-transform: translate3d(0, -78px, 0);
          .rect(382px, 102px);
        }
      }
      .f3{
        .rect(136px, 150px);
        .pos(448px, 279px);
        background: url(../images/f_5_3.png);
        &.end{
          -webkit-transform: translate3d(0, -150px, 0);
        }
      }
    }
    .tablet_top{
      .rect(510px, 160px);
      background: url(../images/tablet_top.png);
      background-size: 100% 100%;
      .abs;
      .pos(116px, 135px);
      //-webkit-transition: all 2s;
      //.hidden;
      &.end{
        -webkit-transform: scale3d(1.2,1.2,1) translate3d(-45px, 116px, 0);
      }
      &.glur{
        -webkit-transform: scale3d(4, 4, 1)  translate3d(0, 92px, 0);
        opacity: 0;
        background: url(../images/glur.png);
        background-size:100% 100%; 
        .screen{
          .hidden;
        }
      }
      .screen{
        .rect(510px, 160px);
        .abs;
        .pos(0, 0);
        background: url(../images/tablet_top_screen.png);
        &.shine{
          -webkit-animation: shinetwice 1.5s;
        }
      }
      
    }
    .tablet_bottom{
      .rect(510px, 160px);
      background: url(../images/tablet_bottom.png);
      .abs;
      .pos(11px, 258px);
      -webkit-transition: all 2s;
      //.hidden;
      &.end{
        //.pos(-500px, 865px);
        -webkit-transform: translate3d(-511px, 607px, 0);
      }
    }
  }
}
.loadbar{
  position:relative;
  width:100px;
  height:16px;
  i{
    .rect(12px);
    .block;
    .mr(1px);
    background-color:rgba(255, 255, 255, 0.1);
    -webkit-animation-name:bounce_squaresWaveG;
    -webkit-animation-duration:1.2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    .pull-left;
    &:nth-child(1){
      -webkit-animation-delay:0.48s
    }
    &:nth-child(2){
      -webkit-animation-delay:.6s;
    }
    &:nth-child(3){
      -webkit-animation-delay:.72s;
    }
    &:nth-child(4){
      -webkit-animation-delay:.84s;
    }
    &:nth-child(5){
      -webkit-animation-delay:.96s;
    }
  }
}

@-webkit-keyframes bounce_squaresWaveG{
  0%{
    background-color:rgba(255, 255, 255, 0.1);
  }

  50%{
    background-color:rgba(255, 255, 255, 0.9);
  }

  100%{
    background-color:rgba(255, 255, 255, 0.1);
  }
}


